<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--MAC3AF2\PCSQLSERVER-->
  <!--C501A13-->
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="CsvUTF8ConnectionString" connectionString="Driver={Microsoft Text Driver (*.txt; *.csv)};Dbq=F:\小綠君資料\04.公營考試準備期間\職訓局課程\專案\Project\Files;Extensions=csv,txt;"
      providerName="System.Data.Odbc" />
    <add name="FA_SQLConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=test1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FA_ODBCConnectionString" connectionString="Driver={ODBC Driver 13 for SQL Server};server=127.0.0.1;trusted_connection=Yes;app=MicrosoftR Visual StudioR;wsid=127.0.0.1;database=test1;CharacterSet=65001"
      providerName="System.Data.Odbc" />
    <add name="constr" connectionString="Data Source=127.0.0.1;Initial Catalog=test1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FAString" connectionString="Driver={Microsoft Text Driver (*.txt; *.csv)};dbq=F:\小綠君資料\04.公營考試準備期間\職訓局課程\專案\範例\SQLBULKCOPY_CSV_INSERT\FILES;defaultdir=F:\小綠君資料\04.公營考試準備期間\職訓局課程\專案\範例\SQLBULKCOPY_CSV_INSERT\FILES;driverid=27;fil=text;filedsn=C:\Users\user\Documents\FA.dsn;maxbuffersize=2048;maxscanrows=8;pagetimeout=5;safetransactions=0;threads=3;uid=admin;usercommitsync=Yes"
      providerName="System.Data.Odbc" />
    <add name="教務系統ConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=教務系統;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="test2ConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=test1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->

  <system.web>
    <globalization culture="zh-TW" uiCulture="zh-TW" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="BIG5" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  
  


</configuration>
